$white-color-text: #ffffff;
$black-color-text: #000000;
$primary-color: #e8b420;
$second-color: #ffdb75;

$header-nav-lv2: #07264e;
$primary-bg-color: #001c34;
$second-bg-color: #0c406c;

/*Colo Header on Mobile*/
$color-heading-active-mb: #005c8e;
$color-heading-hover-mb: #1a4760;

$banner-heading-text-color: #eec705;

$project-primary-color: #00215c;
$common-icon: #1f495b;

$color-bg-location: #ffffe5;
$color-bg-map: #f4f4f4;

$subdivision-text: #e0ab05;
$service__card--overlay: #072c40e0;
